{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "body"}}
<h2>Portfold</h2>
<p>Nothing to see yet!</p>

{{with .Project}}
<p>{{.Name}} {{.Created}}</p>
{{end}}

{{if .Projects}}
<ul>
    {{range .Projects}}
    <li>{{.Name}}</li>
    {{end}}
</ul>
{{end}}

{{end}}
